body {
    background-color: rgb(145, 135, 135);
}
.container {
    background-color: rgb(233, 233, 233);
    text-align: center;
    width: 50%;
    height: 500px;
    margin: 10% auto;
    border-radius: 25px;
}
.container h1 {
    display: inline-block;
    background-color: rgb(177, 252, 220);
    height: 50px;
    width: 80%;
    line-height: 50px;
    border-radius: 25px;
}
.showText {
    background-color: rgb(201, 224, 201);
    display: block;
    height: 40px;
    line-height: 40px;
}
.showLives {
    background-color: rgb(172, 212, 243);
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
}
.sub {
    background-color: rgb(164, 238, 238);
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 10px 0;
    height: 35px;
    line-height: 35px;
}
#generate {
    height: 50%;
}
.words {
    background-color: rgb(172, 173, 247);
    
    height: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.alp {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.alp li {
    margin: 0 15px;
    display: inline-block;
    width: 45px;
    height: 70px;
    line-height: 70px;
    font-size: 70px;
    text-decoration: underline;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
}
.answer_container {
    background-color: beige;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 10px 0;
    height: 35px;
    line-height: 35px;
}