body {
    background-color: antiquewhite;
}
.container {
    background-color: cornflowerblue;
    text-align: center;
    width: 50%;
    margin: 10% auto;
}
.container h1 {
    display: block;
    background-color: rgb(177, 252, 220);
    height: 50px;
    line-height: 50px;
}
.showText {
    background-color: rgb(201, 224, 201);
    display: block;
    height: 40px;
    line-height: 40px;
}
.showLives {
    background-color: rgb(172, 212, 243);
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
}
.sub {
    background-color: rgb(164, 238, 238);
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 10px 0;
    height: 35px;
    line-height: 35px;
}
#generate {
    height: 50%;
}
.words {
    background-color: rgb(172, 173, 247);
    
}
.alp {
    margin: 0;
}

.words li {
    display: inline-block;
    width: 45px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-decoration: underline;
    text-transform: uppercase;
}
.answer_container {
    background-color: beige;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 10px 0;
    height: 35px;
    line-height: 35px;
}